.term-condition-check .container {
    margin: 0 auto;
  }
  
  .round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
    border: 1px solid #2f2f2f;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #ed1d25;
    border-color: #ed1d25;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  .term-condition-check .caption{
      display: inline-block;
      margin-top: 1px;
      font-family:"Open Sans", sans-serif;
      font-size: 17px;
      color:#3c3c3c;
  }

  .custom-radio .custom-control-input:checked~.custom-control-label::after {
      background-color: #ff0101;
  }


  /* chekcbox bg red */
  /* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  right: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: solid 1px #979797;
}
.checkmark.check-cart{
  height: 16px;
  width: 16px;
}
/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background: rgba(255, 255, 255, 0.2);
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #E74C3C;
  border: solid 1px #E74C3C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 5px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.container-check .checkmark.check-cart:after {
  left: 5px;
  top: 1px;
}
/* radio button circle red */

.checkmark-circle {
  position: absolute;
  top: 7px;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: solid 1px #979797;
}
.checkmark-button{
  position: relative;
  width: 128px;
  padding: 4px 0px;
  @include border-rad(32px);
  color:#E5E5E5;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark-circle {
  background-color: #ccc;
}
.container-check:hover input ~ .checkmark-button {
  background-color: #FF0000;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark-circle {
  background-color: #FFF;
  border: solid 1px #0F6555;
}
.container-check input:checked:disabled ~ .checkmark-circle {
  background-color: #FFFFFF;
  border: solid 1px #c6c6c6;
}
.container-check input:disabled ~ .checkmark-circle {
  background-color: #FFFFFF;
  border: solid 1px #c6c6c6;
}

.container-check input:checked ~ .checkmark-button {
  background-color: #FF0000;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-circle:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark-circle:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark-circle:after {
  left: 2px;
  top: 2px;
  width: 8px;
  height: 8px;
  border: solid #0F6555;
  border-radius: 50%;
  background: #0F6555;    
//   border-width: 0 2px 2px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
}

.container-check input:checked:disabled ~ .checkmark-circle:after {
  background-color: #9b9b9b;
}
.caption-check{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFF;
}
.caption-check h4{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}