@mixin bordered($color, $width) {
    border: $width solid $color;
}
@mixin bordered-dashed($color, $width) {
    border: $width dashed $color;
}

@mixin bordered-left($color, $width) {
    border-left: $width solid $color;
}

@mixin bordered-right($color, $width) {
    border-right: $width solid $color;
}

@mixin bordered-bottom($color, $width) {
    border-bottom: $width solid $color;
}
@mixin bordered-top($color, $width) {
    border-top: $width solid $color;
}

@mixin border-rad($value){
    border-radius: $value;
    -moz-border-radius:$value;
    -o-border-radius:$value;
    -webkit-border-radius:$value;
}

@mixin boxshadow($shadow){
    -webkit-box-shadow:$shadow ;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}
.list-unstyled{
    list-style: none;
}
.text-decor-none{
    text-decoration: none;
}
.bg-gray-blue{
    background-color: #F4F7FB;
}
.bg-gray{
    background: #292E35;
}
.bg-dark-gray{
    background-color: #1E232A;
}

a{
    &:hover{
        text-decoration: none;
    }
}
.cl-blue{
    color: #0087D9;
}
.elipsis-3{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.elipsis-4{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.elipsis-8{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.collapsed > .when-opened,
    :not(.collapsed) > .when-closed {
        display: none;
    }

